.btn-primary {
    background: rgba($primary-color, 0.9);
    border-color: rgba($primary-color, 0.9);
}

.btn-primary:hover {
    background: $primary-color;
    border-color: $primary-color;
}

.btn-outline-primary {
    color: $primary-color;
    border-color: rgba($primary-color, 0.9);
}

.btn-outline-primary:hover {
     background: $primary-color;
    border-color: rgba($primary-color, 1);
}
