@import '$assets/scss/main.scss';
.text {
    font-size: 14px;
    color: $white;
}

.date {
    font-size: 10px;
    color: $tertiary-gray;
}

.row {
    @include card-dark;
    margin: 1rem 0;
}

.deleteStyle {
    margin-left: auto;
}

.deleteStyle:hover {
    color: red;
    cursor: pointer;
}

.replyButton {
}

.replyButton:hover {
    cursor: pointer;
    color: $accent-color;
}

.replyButton.active {
    color: $accent-color;
}

.textArea {
    @include card-dark;
    width: 100%;
    color: rgba($white, 0.7);
}

.textArea::placeholder {
    color: rgba($white, 0.2);
}

.buttonAccent {
    background: rgba($accent-color, 0.9);
    color: rgba($white, 0.9);
}

.buttonAccent:hover {
    background: rgba($accent-color, 1);
    color: rgba($white, 1);
}