@import '$assets/scss/main.scss';
.tabMenu {
    color: $black;
    font-family: Roboto;
    font-size: 20px;
    border: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    &:focus {
        outline: none;
    }
    text-transform: uppercase;
    border-radius: 2rem;
    @media screen and (max-width: 768px) {
        font-size: 14px;
        padding: 0.5rem 1rem;
    }
}

.tabMenuActive {
    background-color: #C082FD;
}

.activeTabMenu {
    background-color: $secondary-green;
    height: 5px;
    border-radius: 5px;
}

.mobile {
    max-width: 360px;
}