@import '$assets/scss/socialmedia';

.wrapper {
    textarea {
        resize: none;
        width: 100%;
        background-color: rgba($color: #fff, $alpha: 0.1);
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        color: rgba(#fff, 0.75);
        transition: all 0.2s ease-in;

        &:focus {
            outline: none !important;
            border: solid 1px rgba($accent-color, 0.75);
            box-shadow: 0 0 10px rgba($accent-color, 0.75);
            caret-color: rgba(#fff, 0.7);
            transition: all 0.2s ease-out;
        }
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(#fff, 0.4);
    opacity: 1; /* Firefox */
  }