@import '$assets/scss/main.scss';
.appHeaderWrapper {
    position: absolute;
    top: 0;
    height: 70px;
    padding: 0.5rem 2.5rem;
    width: calc(100% - 220px);
    background-color: #323232;
    z-index: 10000;
    @media screen and (max-width: 576px) {
        background-color: black;
    }
}

.mobile {
    width: 100%;
}

.searchInactive {
    background-color: transparent;
}

.appHeaderAvatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.appHeaderName {
    color: $white;
    padding: 0 1rem;
    margin-top: 13px;
    background-color: black;
    padding: 2px;
    border-radius: 21px;
    margin-left: 10px;
    span {
        padding: 0 0.5rem;
        width: 14ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.appHeaderInput {
    background-color: $black;
    border-color: $black;
    input {
        color: $white;
    }
    @media screen and (max-width: 576px) {
        visibility: hidden;
    }
}

.mobile_logo {
    @media screen and (min-width: 576px) {
        display: none;
    }
    background: -webkit-linear-gradient(45deg, $primary-color, $accent-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: 700;
}

.optSecondary {
    color: $secondary-green;
    &:focus,
    &:active,
    &:hover {
        color: $secondary-green;
    }
}

.menuWrapper {
    margin-top: 1rem;
}