.avatar {
    height: 200px;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

// .itemWrapper {
//     background-color: #333333;
// }
.newContent {
    background-color: #191919;
    padding: 20px;
    color: #FEFEFE;
    border-radius: 8px 8px 0 0;
}